[data-theme="dark"] {
  /* Backgrounds */
  --bg-body: hsl(220 16% 30%);
  --bg-surface: hsl(220 16% 25%);
  --bg-highlight: hsl(220 16% 20%);

  /* Text */
  --text: hsl(220, 20%, 80%);
  --text-heading: hsl(220, 20%, 95%);
  --text-strong: hsl(220 20% 90%);
  --text-muted: hsl(220 20% 70%);
  --svg-colour: hsl(220, 20%, 95%);

  /* Utilities */
  --border-colour: hsl(220 16% 15%);
  --border-highlight: hsl(220 16% 5%);

  /* Table */
  --bg-thead: hsla(0 0% 100% / 0.1);
  --bg-tr-second: hsla(0 0% 50% / 0.1);
  --bg-tr-hover: hsla(0 0% 0% / 0.3);

  --box-shadow-lower:
    inset 3px 3px 6px hsla(0 0% 0% / 0.4),
    inset -3px -3px 6px hsla(0 0% 90% / 0.1);

  --box-shadow-top:
    inset 1px 1px 6px 1px hsla(0 0% 20% / 0.4),
    4px 4px 6px 1px hsla(0 0% 0% / 0.3);

  /* Skeleton */
  --shimmer-base: hsla(0, 0%, 20%, 1);
  --shimmer-highlight: hsla(0, 0%, 35%, 0.6);
}