:root {
  /* Backgrounds */
  --bg-body: hsl(217 25% 95%);
  --bg-surface: hsl(217 25% 90%);
  --bg-highlight: hsl(217 25% 85%);

  /* Text */
  --text: hsl(235 15% 20%);
  --text-heading: hsl(235 15% 25%);
  --text-strong: hsl(235 15% 30%);
  --text-muted: hsl(235 15% 40%);
  --text-blue: hsl(210 70% 40%);
  --text-yellow: hsl(42 80% 35%);
  --text-red: hsl(5 65% 45%);
  --text-green: hsl(150 55% 32%);
  --svg-colour: hsl(235 15% 25%);

  /* Utilities */
  --border-colour: hsl(217 25% 75%);
  --border-highlight: hsl(217 25% 55%);

  /* Table */
  --bg-thead: hsl(217 25% 85%);
  --bg-tr-second: hsl(217 25% 85%);
  --bg-tr-hover: hsl(217 25% 75%);

  /* Skeleton */
  --shimmer-base: hsla(0, 0%, 85%, 1);
  --shimmer-highlight: hsla(0, 0%, 100%, 0.6);

  --toast-bg: var(--bg-body);
  --toast-text: var(--text);
  --toast-border: var(--border-colour);
  --toast-header-bg: var(--bg-surface);
  --toast-title: var(--text-heading);

  --toast-success-bg: hsl(145 45% 82%);
  --toast-success-title: hsl(145 65% 18%);
  --toast-success-border: hsl(145 45% 45%);

  --toast-warning-bg: hsl(42 90% 80%);
  --toast-warning-title: hsl(35 90% 18%);
  --toast-warning-border: hsl(42 70% 50%);

  --toast-error-bg: hsl(0 70% 82%);
  --toast-error-title: hsl(0 65% 22%);
  --toast-error-border: hsl(0 65% 55%);
}