:root {
  /* Backgrounds */
  --bg-body: hsl(217 25% 95%);
  --bg-surface: hsl(217 25% 90%);
  --bg-highlight: hsl(217 25% 85%);

  /* Text */
  --text: hsl(235 15% 20%);
  --text-heading: hsl(235 15% 25%);
  --text-strong: hsl(235 15% 30%);
  --text-muted: hsl(235 15% 40%);
  --svg-colour: hsl(235 15% 25%);

  /* Utilities */
  --border-colour: hsl(217 25% 75%);
  --border-highlight: hsl(217 25% 55%);

  /* Table */
  --bg-thead: hsl(217 25% 85%);
  --bg-tr-second: hsl(217 25% 85%);
  --bg-tr-hover: hsl(217 25% 75%);

  /* Skeleton */
  --shimmer-base: hsla(0, 0%, 85%, 1);
  --shimmer-highlight: hsla(0, 0%, 100%, 0.6);
}