:root {
  /* Backgrounds */
  --bg-body: hsl(217 25% 95%);
  --bg-surface: hsl(217 25% 90%);
  --bg-highlight: hsl(217 25% 85%);

  /* Text */
  --text: hsl(235 15% 20%);
  --text-heading: hsl(235 15% 25%);
  --text-strong: hsl(235 15% 30%);
  --text-muted: hsl(235 15% 40%);
  --svg-colour: hsl(235 15% 25%);

  /* Utilities */
  --border-colour: hsl(217 25% 75%);
  --border-highlight: hsl(217 25% 55%);

  /* Table */
  --bg-thead: hsla(0 0% 0% / 0.2);
  --bg-tr-second: hsla(0 0% 0% / 0.1);
  --bg-tr-hover: hsla(0 0% 0% / 0.3);

  --box-shadow-lower:
    inset 3px 3px 6px hsla(0 0% 0% / 0.4),
    inset -3px -3px 6px hsla(0 0% 90% / 0.1);

  --box-shadow-top:
    inset 1px 1px 6px 1px hsla(0 0% 80% / 0.4),
    4px 4px 6px 1px hsla(0 0% 0% / 0.3);

  /* Skeleton */
  --shimmer-base: hsla(0, 0%, 85%, 1);
  --shimmer-highlight: hsla(0, 0%, 100%, 0.6);
}