:root {
  /* Brand */
  --primary: hsl(266 85% 58%);

  /* Semantic */
  --blue: hsl(210 80% 65%);
  --yellow: hsl(42 85% 65%);
  --red: hsl(5 80% 68%);
  --green: hsl(150 60% 58%);
  --light: hsl(217 25% 95%);
  --dark: hsl(217 25% 15%);

  /* Text */
  --line-height-text: 1.4;
  --line-height-heading: 1.2;
  --line-height-form: 1.1;

  --text-sm: 0.8rem;
  --text-md: 1rem;
  --text-lg: 1.5rem;
  --text-xl: 2rem;

  --svg-size: 1rem;
  --svg-stroke-width: 3;

  /* Utilities */
  --border-radius-sm: 0.5rem;
  --border-radius: 0.75rem;
  --border-radius-lg: 1rem;
  --border-size: 1px;

  --gap-sm: 0.25rem;
  --gap-md: 0.5rem;
  --gap-lg: 1rem;
}