body {
  height: 100dvh;
  display: grid;
  grid-template-columns: auto 1fr;
  grid-template-rows: auto 1fr;
}

.page-header {
  --svg-size: 2rem;
  grid-column: 1 / -1;
  background: var(--primary);
  display: flex;
  align-items: center;
  justify-content: center;
  gap: var(--gap-md);
  font-weight: 600;
  font-size: var(--svg-size);
  color: var(--dark);
  border-bottom: 1px solid var(--border-colour);
  padding: var(--gap-md);
}

main {
  display: grid;
  grid-template-columns: 1fr;
  gap: var(--gap-md);
  padding: var(--gap-md);
  overflow-y: auto;
}


/*
  Dashboard
*/
.kpi-grid {
  display: grid;
  gap: var(--gap-md);
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
}

.action-grid {
  display: grid;
  gap: var(--gap-md);
  grid-template-columns: repeat(auto-fit, minmax(500px, 1fr));
}

/* 
  Onboarding
*/
.onboarding-tools {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: var(--gap-md);
  margin-bottom: var(--gap-md);

  @media (min-width: 576px) {
    flex-direction: row;
  }
}

/* 
  Calculators
*/

.cal, .cal-content, .cal-containers {
  display: grid;
  gap: var(--gap-md)
}

.form-btns {
  display: flex;
  flex-direction: column;
  gap: var(--gap-md);

  @media (min-width: 576px) {
    justify-content: end;
    flex-direction: row;
  }
}

@media (min-width: 1200px) {
  .cal-containers {
    grid-template-columns: 1fr 3fr;
  }
}