.sidebar-nav-page {
  display: grid;
  grid-template-columns: auto 1fr;
  grid-template-areas:
    "page-header page-header"
    "sidebar content"
  ;
}

.page-header {
  grid-area: page-header;
  --svg-size: var(--h1);
  --svg-stroke-width: 2;
  height: 70px;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1001;
  padding-inline: var(--gap-md);
  background: var(--bg-highlight);
  border-bottom: var(--border-size) solid var(--border-colour);
  display: flex;
  align-items: center;
  gap: var(--gap-md);
}

.sidebar-nav {
  grid-area: sidebar;
  position: fixed;
  top: 70px;
  left: 0;
  background: var(--bg-highlight);
  border-right: var(--border-size) solid var(--border-colour);
  padding: var(--gap-sm);
  height: calc(100% - 70px);
  width: 175px;
  z-index: 5;
  transform: translateX(-100%);
  transition: transform 0.5s ease-in-out, margin-left 0.5s ease-in-out;
  overflow-y: auto;
}

.sidebar-nav > * {
  margin-block: var(--gap-sm);
}

.sidebar-nav[aria-expanded="true"] {
  transform: translateX(0);
}

main {
  grid-area: content;
  padding: var(--gap-md);
  margin-top: 70px;
}

@media (min-width: 1024px) {
  .sidebar-nav {
    position: sticky;
    align-self: start;
    margin-top: 70px;
    height: calc(100vh - 70px);
    margin-left: -250px;
  }

  .sidebar-nav[aria-expanded="true"] {
    margin-left: 0;
  }
}