/* 
  Calculator Pages
*/

.cal-containers {
  display: grid;
  align-items: start;
  gap: var(--gap-md)
}

#probation-form, #maternity-form {
  display: grid;
  align-items: start;
  gap: var(--gap-md);
}

@media (min-width: 576px) {
  #probation-form, #maternity-form {
    grid-template-columns: 1fr 1fr;
  }
}

@media (min-width: 768px) {
  #probation-form, #maternity-form {
    grid-template-columns: 1fr 1fr 1fr;
  }
}


@media (min-width: 1200px) {

  #probation-form, #maternity-form {
    grid-template-columns: 1fr;
  }

  .cal-containers {
    grid-template-columns: 300px 3fr;
  }
}