/* 
  Onboarding
*/
.onboarding-tools {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  gap: var(--gap-md);
  margin-bottom: var(--gap-md);

  @media (min-width: 576px) {
    flex-direction: row;
  }
}