.onboarding-tools {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: var(--gap-md);
  margin-bottom: var(--gap-md);

  @media (min-width: 576px) {
    flex-direction: row;
  }
}

.search-input {
  flex: 1;
  display: flex;
}

.sort-container {
  display: flex;
  align-items: center;
}