/* Base button styles */
.btn {
  border: none;
  background-color: var(--light);
  color: var(--dark);

  padding: 0.5rem 1rem;
  font-size: 1rem;
  font-weight: 600;
  cursor: pointer;
  border-radius: var(--border-radius);
  transition: all 0.3s;
}

.btn:hover {
  border-color: var(--light);
  filter: brightness(0.9);
}

.btn:active {
  transform: scale(0.98);
  transition: transform 0.1s;
}

/* Primary button styles */
.btn.primary {
  background-color: var(--primary);
  color: color-mix(in srgb, var(--primary), black 60%);
}

.btn.primary:hover {
  filter: brightness(0.9);
}

.btn.secondary {
  background-color: var(--secondary);
  color: color-mix(in srgb, var(--secondary), black 60%);
}

.btn.secondary:hover {
  filter: brightness(0.9);
}

.btn.success {
  background-color: var(--success);
  color: color-mix(in srgb, var(--success), black 60%);
}

.btn.success:hover {
  filter: brightness(0.9);
}

.btn.warning {
  background-color: var(--warning);
  color: color-mix(in srgb, var(--warning), black 60%);
}

.btn.warning:hover {
  filter: brightness(0.9);
}

.btn.info {
  background-color: var(--info);
  color: color-mix(in srgb, var(--info), black 60%);
}

.btn.info:hover {
  filter: brightness(0.9);
}

.btn.danger {
  background-color: var(--danger);
  color: color-mix(in srgb, var(--danger), black 60%);
}

.btn.danger:hover {
  filter: brightness(0.9);
}
