/* Base button styles */
.btn {
  --shadow-inset-colour: hsl(0 0% 10% / 0.3);
  --shadow-mix: white;
  border: none;
  background: var(--light);
  color: var(--dark);
  padding: 0.5rem 1rem;
  line-height: var(--line-height-text);
  font-size: var(--text-md);
  font-weight: 600;
  cursor: pointer;
  border-radius: var(--border-radius);
  transition: all 0.3s;
  box-shadow:
    inset -2px -2px 2px 1px hsla(0 0% 10% / 0.2);
}

.btn:hover {
  box-shadow:
    inset 2px 2px 1px 1px hsla(0 0% 0% / 0.2);
}

.btn:active {
  transform: scale(0.98);
  transition: transform 0.1s;
}

/* Semantic Button Styles */
.btn.green {
  --shadow-inset-colour: var(--green);
  --shadow-mix: black;
  background-color: var(--green);
  color: color-mix(in srgb, var(--green), black 60%);
  box-shadow:
    inset -1px -1px 2px 2px color-mix(in hsl, var(--shadow-inset-colour) 60%, var(--shadow-mix));
}

.btn.green:hover {
  filter: brightness(0.9);
  box-shadow:
    inset 1px 1px 2px 2px color-mix(in hsl, var(--shadow-inset-colour) 60%, var(--shadow-mix));
}

.btn.yellow {
  --shadow-inset-colour: var(--yellow);
  --shadow-mix: black;
  background-color: var(--yellow);
  color: color-mix(in srgb, var(--yellow), black 60%);
  box-shadow:
    inset -1px -1px 2px 2px color-mix(in hsl, var(--shadow-inset-colour) 60%, var(--shadow-mix));
}

.btn.yellow:hover {
  filter: brightness(0.9);
  box-shadow:
    inset 1px 1px 2px 2px color-mix(in hsl, var(--shadow-inset-colour) 60%, var(--shadow-mix));
}