/* Base button styles */
.btn {
  border: none;
  background-color: var(--light);
  color: var(--dark);
  padding: 0.75rem 1rem;
  font-size: inherit;
  font-weight: 600;
  cursor: pointer;
  border-radius: var(--border-radius);
  transition: all 0.3s;
}

.btn:hover {
  border-color: var(--light);
  filter: brightness(0.9);
}

.btn:active {
  transform: scale(0.98);
  transition: transform 0.1s;
}

/* Primary button styles */
.btn.primary {
  background-color: var(--primary);
  color: color-mix(in srgb, var(--primary), black 60%);
}

.btn.primary:hover {
  filter: brightness(0.9);
}

.btn.secondary {
  background-color: var(--secondary);
  color: color-mix(in srgb, var(--secondary), black 60%);
}

.btn.secondary:hover {
  filter: brightness(0.9);
}

.btn.green {
  background-color: var(--green);
  color: color-mix(in srgb, var(--green), black 60%);
}

.btn.green:hover {
  filter: brightness(0.9);
}

.btn.yellow {
  background-color: var(--yellow);
  color: color-mix(in srgb, var(--yellow), black 60%);
}

.btn.yellow:hover {
  filter: brightness(0.9);
}

.btn.blue {
  background-color: var(--blue);
  color: color-mix(in srgb, var(--blue), black 60%);
}

.btn.blue:hover {
  filter: brightness(0.9);
}

.btn.red {
  background-color: var(--red);
  color: color-mix(in srgb, var(--red), black 60%);
}

.btn.red:hover {
  filter: brightness(0.9);
}
