.card {
  --svg-size: var(--h4);
  --svg-stroke-width: 1.75;
  background: var(--bg-surface);
  border-radius: var(--border-radius-lg);
  border: var(--border-size) solid var(--border-colour);
  overflow: clip;
  box-shadow: 0px 0px 12px 1px hsla(0 0% 0% / 0.2);
}

.card-header {
  padding: 0.5rem 0.6rem;
  border-bottom: var(--border-size) solid var(--border-colour);
  background: var(--bg-highlight);
  display: flex;
  align-items: center;
  gap: var(--gap-md);
}

.card-title {
  font-size: calc(var(--text-md) * 1.25);
}

.card-body {
  padding: 0.5rem 0.6rem;
}

.card-footer {
  padding: 0.5rem 0.6rem;
  border-top: var(--border-size) solid var(--border-colour);
  background: var(--bg-highlight);
  display: flex;
  justify-content: flex-end;
  gap: var(--gap-md);
}

.card-number {
  font-size: 3rem;
  font-weight: 700;
  line-height: 1;
  margin-inline-start: var(--gap-lg);
}

.card-description {
  opacity: 0.7;
  margin-top: 0.5rem;
}