.card {
  --svg-size: var(--h3);
  --svg-stroke-width: 1.75;
  background: var(--bg-surface);
  border-radius: 20px;
  border: var(--border-size) solid var(--border-colour);
  overflow: clip;
  display: flex;
  flex-direction: column;
  box-shadow:
    0 2px 6px rgb(0 0 0 / 0.08),
    0 8px 24px rgb(0 0 0 / 0.12);
}

.card-header {
  padding: 0.75rem 1rem;
  border-bottom: var(--border-size) solid var(--border-colour);
  background: var(--bg-highlight);
  display: flex;
  align-items: center;
  gap: var(--gap-md);
}

.card-body {
  padding: 0.75rem 1rem;
}

.card-footer {
  padding: 0.75rem 1rem;
  border-top: var(--border-size) solid var(--border-colour);
  background: var(--bg-highlight);
  display: flex;
  justify-content: flex-end;
  gap: var(--gap-md);
}

.card-number {
  font-size: 3rem;
  font-weight: 700;
  line-height: 1;
}

.card-description {
  opacity: 0.7;
  margin-top: 0.5rem;
}