dialog {
  --svg-size: calc(var(--text-md) * 1.275 + 0.3vw);
  background-color: var(--bg-surface);
  border-radius: 20px;
  padding: 0;
  border: 2px solid var(--border-colour);
  width: 95%;

  @media (min-width: 576px) {
    max-width: 540px;
  }
}

dialog::backdrop {
  background-color: hsla(0 0% 0% / 0.75);
}

.modal-header {
  padding: 0.75rem 1rem;
  background: hsla(0 0% 70% / 0.1);
  border-bottom: 2px solid var(--border-colour);
  display: flex;
  align-items: center;
  gap: var(--gap-md);
}

.modal-body {
  padding: 0.75rem 1rem;
}

.modal-footer {
  padding: 0.75rem 1rem;
  border-top: var(--border-size) solid var(--border-colour);
  background-color: var(--bg-hightlight);
  display: flex;
  justify-content: flex-end;
  gap: var(--gap-md);
}