.sidebar-btn {
  --svg-size: var(--h2);
  --svg-stroke-width: 4;
  background: var(--bg-body);
  border: var(--border-size) solid var(--border-colour);
  border-radius: var(--border-radius);
  display: flex;
  align-items: center;
  padding: 0.25rem;
}

.sidebar-btn:focus {
  border: var(--border-size) solid var(--border-highlight);
  outline: none;
  box-shadow: none;
}

.nav-btn {
  --svg-size: var(--text-md);
  --svg-colour: var(--text);
  --svg-stroke-width: 2;
  /* Button defults */
  background: none;
  border: var(--border-size) solid transparent;
  border-radius: var(--border-radius-sm);

  /* Typography */
  line-height: 1;
  font-size: var(--svg-size);
  font-weight: 500;
  color: var(--text);

  /* Sizing */
  overflow: hidden;
  width: 100%;
  padding: var(--gap-md);

  /* Layout */
  display: flex;
  align-items: center;
  justify-content: start;
  gap: var(--gap-md);
  cursor: pointer;
  transition: all .3s ease-in-out;
}

.nav-btn:hover, [aria-current="page"] {
  background: var(--bg-body);
  color: var(--text);
}

.nav-btn:focus {
  outline: none;
  border: var(--border-size) solid var(--border-highlight);
  box-shadow: none;
}

.nav-dropdown {
  padding-inline-start: var(--gap-md);
}

.nav-dropdown:not([data-expanded="true"]) {
  display: none;
  overflow: hidden;
  height: 0;
  opacity: 0;
  transition:
    height 0.5s ease;
}

.nav-dropdown[data-expanded="true"] {
  opacity: 1;
  transition:
    height 0.5s ease;
}