.sidebar-btn {
  --svg-size: var(--h2);
  --svg-stroke-width: 2;
  background: transparent;
  border: var(--border-size) solid transparent;
  border-radius: var(--border-radius-sm);
  display: flex;
  flex-shrink: 0;
  align-items: center;
  padding: var(--gap-md);
}

.sidebar-btn:hover {
  background: var(--bg-body);
}

.nav-btn {
  --svg-size: 1.1rem;
  --svg-colour: var(--text);
  --svg-stroke-width: 2;
  /* Button defults */
  background: none;
  border: var(--border-size) solid transparent;
  border-radius: var(--border-radius-sm);

  /* Typography */
  line-height: 1;
  font-size: var(--svg-size);
  font-weight: 500;
  color: var(--text);

  /* Sizing */
  overflow: hidden;
  --margin: var(--gap-md);
  width: calc(100% - (var(--margin) * 2));
  margin: var(--margin);
  padding: var(--gap-lg);

  /* Layout */
  display: flex;
  align-items: center;
  justify-content: start;
  gap: var(--gap-md);
  cursor: pointer;
  transition: all .3s ease-in-out;
}

.nav-btn:hover, [aria-current="page"] {
  filter: none;
  background: var(--bg-surface);
  color: var(--text);
}

.nav-btn:focus, .sidebar-btn:focus {
  background: var(--bg-body);
  outline: none;
  border: var(--border-size) solid transparent;
  box-shadow: none;
}

.nav-dropdown {
  padding-inline-start: var(--gap-md);
  overflow: hidden;
  height: 0;
  transition:
    height 0.5s ease;
}

.nav-btn[data-flip-y] {
  margin-block-end: 0;
}

.nav-dropdown :last-child {
  margin-block-end: 0;
}