ui-navbar {
  grid-area: sidebar;
  --sidebar-width: 66px;
  --sidebar-open: 200px;
  position: relative;
  width: var(--sidebar-width);
  background: var(--bg-highlight);
  border-right: var(--border-size) solid var(--border-colour);
}

.sidebar-nav {
  background: var(--bg-highlight);
  border-right: var(--border-size) solid var(--border-colour);
  padding: 0.5rem;
  width: var(--sidebar-width);
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1000;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  transition: width 0.3s ease-in-out;
}

.sidebar-open {
  --sidebar-width: var(--sidebar-open);
}

.sidebar-nav span {
  white-space: nowrap;
  display: none;
}

.sidebar-open span {
  display: inline-block;
}

.nav-btn {
  --svg-size: 1.1rem;
  --svg-colour: var(--text);
  --svg-stroke-width: 2;
  /* Button defults */
  background: none;
  border: 2px solid transparent;
  border-radius: var(--border-radius);

  /* Typography */
  line-height: 1;
  font-size: var(--svg-size);
  font-weight: 500;
  color: var(--text);

  /* Sizing */
  overflow: hidden;
  width: 100%;
  padding: .75rem;

  /* Layout */
  display: flex;
  align-items: center;
  justify-content: start;
  gap: var(--gap-md);
  cursor: pointer;
  transition: all .3s ease-in-out;
}

.nav-btn:hover, .nav-btn.active {
  background: var(--bg-body);
  color: var(--text);
}

.nav-btn:focus-visible {
  outline: none;
  border: var(--border-size) solid var(--border-highlight);
}

@media (min-width: 768px) {
  ui-navbar {
    --sidebar-width: var(--sidebar-open);
    position: static;
  }

  .sidebar-nav span {
    display: inline-block;
  }

  .sidebar-nav {
    position: static;
    background-color: transparent;
  }
}