ui-navbar {
  --sidebar-width: 49px;
  --border-size: 1px;
  position: relative;
  width: var(--sidebar-width);
}

.sidebar-nav {
  border-right: var(--border-size) solid var(--border-colour);
  background-color: var(--bg-bottom);
  padding: 0.25rem;
  width: var(--sidebar-width);
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1000;
  display: flex;
  flex-direction: column;
  gap: 0.25rem;
  transition: width 0.3s ease-in-out;
}

.sidebar-open {
  --sidebar-width: 200px;
}

.sidebar-nav span {
  white-space: nowrap;
  display: none;
}

.sidebar-open span {
  display: inline-block;
}

#theme-toggle {
  margin-top: auto;
}

.nav-btn {
  --svg-size: 1rem;
  /* Button defults */
  border: none;
  border-radius: var(--border-radius, 0.5rem);
  background: hsla(0 0% 0% / 0.1);

  /* Typography */
  line-height: 1;
  font-size: var(--svg-size);
  font-weight: 600;
  color: var(--text, hsl(0 0% 10%));

  /* Sizing */
  overflow: hidden;
  width: 100%;
  padding: 0.75rem;

  /* Layout */
  display: flex;
  align-items: center;
  justify-content: start;
  gap: var(--gap-md);
  cursor: pointer;
  transition: all 0.25s;
}

.nav-btn:hover, .nav-btn.active {
  background: hsla(0 0% 0% / 0.3);
  color: var(--text);
  filter: brightness(1.1);
}

.nav-btn:focus-visible {
  outline: 2px solid color-mix(in srgb, var(--primary), black 60%);
  border: none;
}

@media (min-width: 768px) {
  ui-navbar {
    border-right: var(--border-size) solid var(--border-colour);
    position: static;
    width: 200px;
  }

  .sidebar-nav span {
    display: inline-block;
  }

  .sidebar-nav {
    width: 200px;
    position: static;
    background-color: transparent;
    border-right: none;
    clip-path: none;
  }
}