.pagination {
  --svg-size: 1.1rem;
  --svg-stroke-width: 3;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-block: var(--gap-md);
}

.pagination-btn {
  display: flex;
  align-items: center;
  padding: var(--gap-md) var(--gap-lg);
  border: var(--border-size) solid var(--border-colour);
  line-height: var(--line-height-form);
  font-size: var(--text-md);
  color: var(--text);
  background: var(--bg-surface);
  font-weight: 600;
}

.pagination-btn + .pagination-btn {
  margin-inline-start: calc(var(--border-size) * -1);
}

.pagination-btn.active {
  background: var(--border-colour);
}

.pagination-btn:first-child {
  border-top-left-radius: var(--border-radius-sm);
  border-bottom-left-radius: var(--border-radius-sm);
}

.pagination-btn:last-child {
  border-top-right-radius: var(--border-radius-sm);
  border-bottom-right-radius: var(--border-radius-sm);
}

button:disabled {
  opacity: 0.5;
  cursor: not-allowed;
}