ul,
ol {
  margin-block: 0 0.5rem;
  padding-left: 2rem;
}

ul {
  list-style-type: disc;
}

li {
  margin-block: 0 0.5rem;
}

li:has(> ul) {
  list-style: none;
}

.list-style-none {
  list-style: none;
  padding: 0;
}

.list-style-none li {
  position: relative;
  padding: var(--gap-md);
  border-radius: var(--border-radius);
}

.list-style-none li:not(:last-child)::after {
  content: '';
  position: absolute;
  inset-inline: 0;
  inset-block-end: -4px;
  block-size: 1px;
  background: var(--border-colour);
}

.li-2-col {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.starters-list li:hover {
  cursor: pointer;
  background: var(--border-colour);
}