.table-skeleton {
  display: grid;
  gap: 10px;
  padding: 10px;
}

.table-skeleton .row {
  display: grid;
  gap: 10px;
  padding: 10px;
  grid-template-columns: repeat(5, 1fr);
  border-bottom: 1px solid hsla(0 0% 0% / 0.5);
}

.table-skeleton .row:first-child {
  border-top: 1px solid hsla(0 0% 0% / 0.5);
}

.table-skeleton .row .skeleton {
  background: var(--shimmer-base);
  border-radius: 4px;
  position: relative;
  overflow: hidden;
  height: 20px;
  width: 100%;
}

.skeleton {
  background: var(--shimmer-base);
  border-radius: 4px;
  position: relative;
  overflow: hidden;
  height: 20px;
  width: 100%;
}

.skeleton::after {
  content: "";
  position: absolute;
  inset: 0;
  background: linear-gradient(90deg,
      hsla(0, 0%, 100%, 0) 0%,
      var(--shimmer-highlight) 50%,
      hsla(0, 0%, 100%, 0) 100%);
  animation: shimmer 1.5s infinite;
}

@keyframes shimmer {
  0% {
    transform: translateX(-100%);
  }

  100% {
    transform: translateX(100%);
  }
}