svg {
  display: block;
  width: var(--text-md);
  height: var(--text-md);
  margin-right: var(--gap);
  fill: none;
  stroke: currentColor;
  stroke-width: 3;
  stroke-linecap: round;
  stroke-linejoin: round;
}