svg {
  --svg-size: var(--text-md, 1rem);
  width: var(--svg-size);
  height: var(--svg-size);
  display: block;
  fill: none;
  stroke: currentColor;
  stroke-width: 3;
  stroke-linecap: round;
  stroke-linejoin: round;
}