table {
  --table-font-colour: var(--text);
  --table-border-colour: var(--bg-bottom);
  --table-border: 2px solid var(--table-border-colour);
  --table-border-radius: var(--border-radius);
  --table-caption-bg: var(--bg-surface);
  --thead-bg: var(--bg-surface);
  --tbody-bg: var(--bg-bottom);
  --tr-second-bg: var(--bg-surface);
  --tfoot-bg: var(--bg-surface);

  width: 100%;
  border-collapse: separate;
  border-spacing: 0;
  color: var(--table-font-colour);
  border: var(--table-border);
  border-radius: var(--table-border-radius);
  overflow: hidden;
}

table.primary {
  --table-font-colour: color-mix(in srgb, var(--primary), black 60%);
  --table-border-colour: color-mix(in srgb, var(--primary), black 60%);
  --table-caption-bg: var(--bg-surface);
  --thead-bg: var(--primary);
  --tbody-bg: color-mix(in srgb, var(--primary), white 60%);
  --tr-second-bg: var(--primary);
  --tfoot-bg: var(--bg-surface);
}

table thead {
  background-color: var(--thead-bg);
}

table th,
table td {
  padding: 0.5rem 1rem;
}

table tbody {
  background-color: var(--tbody-bg);
}

table tbody tr:nth-of-type(2n) {
  background-color: var(--tr-second-bg);
}

table tfoot tr td {
  background-color: var(--tfoot-bg);
}

@media (max-width: 992px) {
  table {
    --table-border-radius: none;
  }

  table thead {
    display: none;
  }

  table tbody td,
  table tfoot td {
    display: grid;
    align-items: center;
    grid-template-columns: 1fr 1fr;
  }

  table tbody td:first-child {
    margin-top: 0.5rem;
  }

  table tbody td:last-child {
    margin-bottom: 0.5rem;
  }

  table tbody td::before {
    content: attr(data-cell);
    font-weight: 700;
    text-transform: uppercase;
  }

  table tbody td:first-child::before {
    content: attr(data-cell);
    text-transform: uppercase;
  }

  table tfoot tr {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }

  table tfoot tr td:first-child {
    text-transform: uppercase;
    text-align: left;
    width: 15ch;
  }
}