table {
  background: var(--bg-middle);
  border-collapse: collapse;
  table-layout: fixed;
  border-spacing: 0;
  width: 100%;
  border-radius: 1rem;
  overflow: hidden;
  box-shadow: none;
  color: var(--text);
}

thead {
  background: var(--bg-thead);
  color: var(--text-heading);
}

tbody tr:nth-child(even) {
  background: var(--bg-tr-second);
}

tbody tr:hover, tr:nth-child(even):hover {
  background: var(--bg-tr-hover);
}

th {
  --svg-size: var(--text-md);
  font-size: var(--text-md);
  padding: 0.75rem 1rem;
  font-weight: 700;
  text-align: left;
}

td {
  padding: 0.75rem 1rem;
}

/* 
  Colours
  -------------------
*/

table.lower {
  box-shadow: var(--box-shadow-lower);
}

table.top {
  box-shadow: var(--box-shadow-top);
}

/* 
  Utilities
  -------------------
*/

.cursor-pointer {
  cursor: pointer;
}

.th-sorting {
  cursor: pointer;
}

.th-sorting:hover {
  background: hsla(0 0% 0% / 0.3);
}

.sorting {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

@media (max-width: 1200px) {
  table thead {
    display: none;
  }

  table tbody tr {
    display: grid;
    align-items: center;
    grid-template-columns: 1fr 1fr;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
  }

  table tbody td, table tfoot td {
    display: grid;
    align-items: center;
    grid-template-columns: 15ch 1fr;
  }

  td {
    padding: 0.75rem 1rem;
  }

  table tbody td:first-child {
    margin-top: 0;
  }

  table tbody td:last-child {
    margin-bottom: 0;
    border-bottom: none;
  }

  table tbody td::before {
    content: attr(data-cell);
    font-weight: 700;
    color: var(--text-heading);
  }

  table tbody td:first-child::before {
    content: attr(data-cell);
  }

  table tfoot tr {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }

  table tfoot tr td:first-child {
    text-align: left;
    width: 15ch;
  }
}

@media (max-width: 992px) {
  table tbody tr {
    grid-template-columns: 1fr;
  }

  table tbody td, table tfoot td {
    border-bottom: 1px solid hsla(0 0% 40% / 0.1);
  }

}