.empty-state {
  --svg-size: var(--headline-1);
  --svg-stroke-width: 1;
  --svg-colour: var(--text-muted);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: calc(var(--gap-md) * 2);
  gap: var(--gap-md);
}

.empty-state svg {
  width: var(--svg-size);
  height: var(--svg-size);
  stroke-width: var(--svg-stroke-width);
  stroke: var(--text-muted, currentColor);
  fill: none;
}

.d-none {
  display: none !important;
}

.link {
  cursor: pointer;
}

.link:hover {
  background: hsla(0 0% 0% / 0.3);
}

.ms-auto {
  margin-inline-start: auto;
}