[data-theme="dark"] {
  /* Backgrounds */
  --bg-primary: #373535;
  --bg-secondary: #2d2d2d;

  /* Text */
  --text-primary: #f4f4f4;
  --text-secondary: #a0a0a0;

  /* Table */
  --tbody-bg: #333131;
}
