*, *::before, *::after {
  box-sizing: border-box;
}

body {
  font-family:
    system-ui,
    -apple-system,
    "Segoe UI",
    sans-serif;
  line-height: var(--line-height-text);
  font-size: var(--text-md);
  background-color: var(--bg-bottom);
  color: var(--text);
  margin: 0;
  padding: 0;
  transition: background-color 0.3s, color 0.3s;
}