@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

*, *::before, *::after {
  box-sizing: border-box;
}

body {
  font-family:
    "Inter",
    system-ui,
    -apple-system,
    "Segoe UI",
    sans-serif;
  line-height: var(--line-height-text);
  font-size: var(--text-md);
  background-color: var(--bg-bottom);
  color: var(--text);
  margin: 0;
  padding: 0;
  transition: background-color 0.3s, color 0.3s;
}