:root {
  /* Backgrounds */
  --bg-primary: hsl(0 0% 95%);
  --bg-secondary: hsl(0 0% 100%);

  /* Navbar */

  /* Text */
  --font-size-base: 1rem;
  --line-height-base: 1.6;
  --line-height-headings: 1.2;
  --text-primary: hsl(0 0% 10%);
  --text-secondary: hsl(0 0% 50%);

  /* Brand */
  --primary: hsl(212, 86%, 59%);
  --secondary: hsl(0 0% 60%);

  /* Semantic */
  --blue: hsl(198 93% 60%);
  --yellow: hsl(43 96% 56%);
  --red: hsl(0 91% 71%);
  --green: hsl(158 64% 52%);
  --light: hsl(0 0% 95%);
  --dark: hsl(0 0% 10%);

  /* Utilities */
  --border-color: hsl(0 0% 70%);
  --border-radius: 8px;
  --shadow: hsl(0 0% 20% / 0.25);
}