:root {
  /* Backgrounds */
  --bg-primary: #fcfcfd;
  --bg-secondary: #d8d8d8;

  /* Text */
  --text-btn: #ffffff;
  --text-primary: #0f172a;
  --text-secondary: #475569;

  /* Brand */
  --primary: #1e40af;
  --secondary: #475569;

  /* Semantic */
  --info: #0284c7;
  --warning: #c2410c;
  --danger: #b91c1c;
  --success: #047857;

  /* Utilities */
  --border: #e2e8f0;
  --shadow: rgba(0, 0, 0, 0.05);
  --border-radius: 8px;
}
