.btn, .btn-sm {
  --svg-size: var(--text-md);
  --svg-colour: var(--text);
  --svg-stroke-width: 2;
  background: var(--bg-body);
  border: var(--border-size) solid var(--border-colour);
  border-radius: var(--border-radius-sm);

  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 600;
  color: var(--text);
  cursor: pointer;
  transition: all .3s ease-in-out;
}

.btn {
  gap: var(--gap-md);
  padding: var(--gap-md) 1.5rem;
  line-height: var(--line-height-form);
  font-size: var(--text-md);
}

.btn-sm {
  --svg-size: var(--text-sm);
  --svg-stroke: 2;
  gap: var(--gap-sm);
  padding: 0.3rem 0.6rem;
  line-height: var(--line-height-text);
  font-size: var(--text-sm);
}

.btn-sm.dark, .btn.dark {
  --svg-colour: var(--light);
  --border-colour: var(--dark);
  background: var(--dark);
  color: var(--svg-colour);
}

/* Semantic Button Styles */
.btn-sm.green, .btn.green {
  --svg-colour: color-mix(in hsl, var(--green), black 60%);
  --border-colour: color-mix(in hsl, var(--green), white 10%);
  background: var(--green);
  color: var(--svg-colour);
}

.btn-sm.yellow, .btn.yellow {
  --svg-colour: color-mix(in hsl, var(--yellow), black 60%);
  --border-colour: color-mix(in hsl, var(--yellow), white 10%);
  background: var(--yellow);
  color: var(--svg-colour);
}

.btn-sm.blue, .btn.blue {
  --svg-colour: color-mix(in hsl, var(--blue), black 60%);
  --border-colour: color-mix(in hsl, var(--blue), white 10%);
  background: var(--blue);
  color: var(--svg-colour);
}

.btn-sm.red, .btn.red {
  --svg-colour: color-mix(in hsl, var(--red), black 60%);
  --border-colour: color-mix(in hsl, var(--red), white 10%);
  background: var(--red);
  color: var(--svg-colour);
}

/* Hover States */
.btn-sm:hover, .btn:hover,
.btn-sm.dark:hover, .btn.dark:hover,
.btn-sm.green:hover, .btn.green:hover,
.btn-sm.yellow:hover, .btn.yellow:hover,
.btn-sm.blue:hover, .btn.blue:hover,
.btn-sm.red:hover, .btn.red:hover {
  filter: brightness(0.9);
}

/* Active States */
.btn-sm:active, .btn:active,
.btn-sm.green:active, .btn.green:active,
.btn-sm.yellow:active, .btn.yellow:active,
.btn-sm.blue:active, .btn.blue:active,
.btn-sm.red:active, .btn.red:active {
  filter: brightness(1.2);
}

.btn-group {
  display: flex;
}

.btn-group > * {
  border-radius: 0;
}

.btn-group > * + * {
  margin-left: calc(var(--border-size) * -1);
}

.btn-group > :first-child {
  border-top-left-radius: var(--border-radius);
  border-bottom-left-radius: var(--border-radius);
}

.btn-group > :last-child {
  border-top-right-radius: var(--border-radius);
  border-bottom-right-radius: var(--border-radius);
}

.btn-group .btn,
.btn-group .btn.dark,
.btn-group .btn.green,
.btn-group .btn.yellow,
.btn-group .btn.blue,
.btn-group .btn.red {
  --border-colour: inherit;
}