/*
  Select Input
  ------------------------------
*/
select {
  display: block;
  width: 100%;
  margin: 0;
  padding: 0.375rem 2.25rem 0.375rem 0.75rem;
  font-size: var(--text-md);
  line-height: var(--line-height-form);
  border-radius: var(--border-radius);
  background-color: var(--bg-body);
  color: var(--text);
  font-family: inherit;
  border: var(--border-size) solid var(--border-colour);
  cursor: pointer;
  appearance: none;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='20' height='20' viewBox='0 0 24 24' fill='none' stroke='%23666' stroke-width='3' stroke-linecap='round' stroke-linejoin='round'%3E%3Cpath d='m6 9 6 6 6-6'/%3E%3C/svg%3E");
  background-repeat: no-repeat;
  background-size: 24px;
  background-position: right 0.5rem center;
}

/*
  Select Dropdown
  ------------------------------
*/
.select-input {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='20' height='20' viewBox='0 0 24 24' fill='none' stroke='%23666' stroke-width='3' stroke-linecap='round' stroke-linejoin='round'%3E%3Cpath d='m6 9 6 6 6-6'/%3E%3C/svg%3E");
  background-repeat: no-repeat;
  background-size: 20px;
  background-position: right 0.5rem center;
  padding-right: 2.1rem;
  anchor-name: --select-input;
}

.select-dropdown {
  position: relative;
  display: grid;
  gap: 4px;
  margin-bottom: 0.5rem;
  width: 100%;
  anchor-scope: --select-input;
}

.select-options {
  position: fixed;
  position-anchor: --select-input;
  position-try-fallbacks: --left, --right, --bottom-center, --bottom-left,
    --bottom-right;
  inset: auto;
  top: calc(anchor(bottom) + 2px);
  justify-self: anchor-center;
  width: anchor-size(width);
  background: var(--bg-body);
  border-radius: var(--border-radius);
  z-index: 1000;
  max-height: 120px;
  overflow-y: auto;
  border: var(--border-size) solid var(--border-colour);
  display: none;
}

@position-try --left {
  inset: auto;
  top: anchor(bottom);
  left: anchor(left);
}

@position-try --right {
  inset: auto;
  top: anchor(bottom);
  right: anchor(right);
}

@position-try --bottom-center {
  inset: auto;
  bottom: calc(anchor(top) + 0.5rem);
  justify-self: anchor-center;
}

@position-try --bottom-left {
  inset: auto;
  bottom: anchor(top);
  left: anchor(left);
}

@position-try --bottom-right {
  inset: auto;
  bottom: anchor(top);
  right: anchor(right);
}

.select-options.open {
  display: block;
}

.option {
  height: 40px;
  line-height: 40px;
  padding-left: 10px;
  cursor: pointer;
  box-sizing: border-box;
  white-space: nowrap;
  text-overflow: ellipsis;
  padding-right: 15px;
  overflow: hidden;
}

.option:hover {
  background: hsla(0 0% 0% / 0.3);
}