:root {
  --bg-bottom: hsl(0 0% 70%);
  --bg-surface: hsl(0 0% 80%);
  --line-height-text: 1.6;
  --line-height-heading: 1.2;
  --text-sm: .8rem;
  --text-md: 1rem;
  --text-lg: 1.2rem;
  --text: hsl(0 0% 20%);
  --text-heading: hsl(0 0% 10%);
  --text-muted: hsl(0 0% 40%);
  --primary: hsl(212, 86%, 59%);
  --secondary: hsl(0 0% 60%);
  --blue: hsl(198 93% 60%);
  --yellow: hsl(43 96% 56%);
  --red: hsl(0 91% 71%);
  --green: hsl(158 64% 52%);
  --light: hsl(0 0% 90%);
  --dark: hsl(0 0% 10%);
  --border-colour: hsl(0 0% 70%);
  --border: 1px solid var(--border-colour);
  --border-radius: 8px;
  --input-shadow: inset 2px 2px 3px 1px hsla(0 0% 0% / .3)
}

*, *:before, *:after {
  box-sizing: border-box
}

body {
  font-family: system-ui, -apple-system, Segoe UI, sans-serif;
  line-height: var(--line-height-text);
  font-size: var(--text-md);
  background-color: var(--bg-bottom);
  color: var(--text);
  margin: 0;
  padding: 0;
  transition: background-color .3s, color .3s
}

[data-theme=dark] {
  --bg-bottom: hsl(0 0% 10%);
  --bg-surface: hsl(0 0% 20%);
  --text: hsl(0, 0%, 65%);
  --text-heading: hsl(0, 0%, 95%);
  --text-muted: hsl(0 0% 45%);
  --border-colour: hsla(0 0% 100% / .25);
  --input-shadow: inset -2px -2px 4px 1px hsla(0 0% 40% / .2)
}

.container {
  max-width: 100%;
  margin: 0 auto
}

@media(min-width:576px) {
  .container {
    max-width: 540px
  }
}

@media(min-width:768px) {
  .container {
    max-width: 720px
  }
}

@media(min-width:992px) {
  .container {
    max-width: 960px
  }
}

@media(min-width:1200px) {
  .container {
    max-width: 1140px
  }
}

@media(min-width:1400px) {
  .container {
    max-width: 1320px
  }
}

.grid {
  display: grid;
  gap: 10px
}

.form-btns {
  display: grid;
  gap: 10px;
  grid-template-columns: 1fr 1fr
}

@media(min-width:768px) {
  .form-btns {
    grid-template-columns: 1fr
  }
}

.cal-containers {
  display: grid;
  align-items: start;
  gap: 10px;
  grid-template-columns: 1fr
}

@media(min-width:768px) {
  .cal-containers {
    grid-template-columns: 300px 1fr
  }
}

.d-none {
  display: none
}

.mb-1 {
  margin-bottom: 5px
}

.mb-2 {
  margin-bottom: 10px
}

.mb-3 {
  margin-bottom: 15px
}

.mb-4 {
  margin-bottom: 20px
}

.mb-5 {
  margin-bottom: 25px
}

.section-header {
  padding: .5rem .8rem
}

.section-header h2, .section-header h3 {
  margin: 0
}

.section-body {
  padding: .5rem .8rem
}

.section-footer {
  padding: .5rem .8rem;
  border-bottom-left-radius: calc(var(--border-radius) - 2px);
  border-bottom-right-radius: calc(var(--border-radius) - 2px);
  background-color: color-mix(in srgb, var(--light), var(--dark) 2%);
  display: flex;
  justify-content: flex-end;
  gap: 10px
}

.section-header.primary {
  background-color: var(--primary)
}

.section-header.primary h2, .section-header.primary h3 {
  color: color-mix(in srgb, var(--primary), black 60%)
}

.section-header.secondary {
  background-color: var(--secondary);
  border-color: color-mix(in srgb, var(--secondary), black 60%)
}

.section-header.secondary h2, .section-header.secondary h3 {
  color: color-mix(in srgb, var(--secondary), black 60%)
}

.headline-1, .headline-2, .headline-3, .headline-4, .headline-5, .headline-6 {
  font-weight: 300;
  line-height: var(--line-height-heading)
}

.headline-1 {
  font-size: calc(var(--text-md) * 1.625 + 4.5vw)
}

.headline-2 {
  font-size: calc(var(--text-md) * 1.575 + 3.9vw)
}

.headline-3 {
  font-size: calc(var(--text-md) * 1.525 + 3.9vw)
}

.headline-4 {
  font-size: calc(var(--text-md) * 1.475 + 3.9vw)
}

.headline-5 {
  font-size: calc(var(--text-md) * 1.425 + 3.9vw)
}

.headline-6 {
  font-size: calc(var(--text-md) * 1.375 + 1.5vw)
}

.h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6 {
  margin-top: 0;
  margin-bottom: 0;
  font-weight: 600;
  line-height: var(--line-height-heading);
  color: var(--text-heading)
}

.h1, h1 {
  font-size: calc(var(--text-md) * 1.375 + 1.5vw)
}

.h2, h2 {
  font-size: calc(var(--text-md) * 1.325 + .9vw)
}

.h3, h3 {
  font-size: calc(var(--text-md) * 1.3 + .6vw)
}

.h4, h4 {
  font-size: calc(var(--text-md) * 1.275 + .3vw)
}

.h5, h5 {
  font-size: calc(var(--text-md) * 1.25)
}

.h6, h6 {
  font-size: var(--text-md)
}

p {
  margin-top: 0;
  margin-bottom: .5rem;
  font-size: var(--text-md);
  line-height: var(--line-height-text);
  text-align: justify;
  -webkit-hyphens: auto;
  hyphens: auto
}

ul, ol {
  margin-top: 0;
  margin-bottom: .5rem;
  padding-left: 2rem
}

ul {
  list-style-type: disc
}

li {
  margin-top: 0;
  margin-bottom: .5rem
}

a {
  color: var(--primary);
  font-weight: 600;
  text-decoration: none;
  transition: color .2s
}

a:hover {
  color: var(--primary);
  filter: brightness(1.1);
  text-decoration: none
}

small {
  font-size: .875rem;
  color: var(--text)
}

code {
  padding: .2rem .4rem;
  background-color: var(--bg-surface);
  border-radius: 3px;
  font-family: Courier New, monospace;
  font-size: .9em
}

.text-right {
  text-align: right
}

@media(min-width:1200px) {
  .headline-1 {
    font-size: calc(var(--text-md) * 5)
  }

  .headline-2 {
    font-size: calc(var(--text-md) * 4.5)
  }

  .headline-3 {
    font-size: calc(var(--text-md) * 4)
  }

  .headline-4 {
    font-size: calc(var(--text-md) * 3.5)
  }

  .headline-5 {
    font-size: calc(var(--text-md) * 3)
  }

  .headline-6, .h1, h1 {
    font-size: calc(var(--text-md) * 2.5)
  }

  .h2, h2 {
    font-size: calc(var(--text-md) * 2)
  }

  .h3, h3 {
    font-size: calc(var(--text-md) * 1.75)
  }

  .h4, h4 {
    font-size: calc(var(--text-md) * 1.5)
  }
}

table {
  --table-font-colour: var(--text);
  --table-border-colour: var(--bg-bottom);
  --table-border: 2px solid var(--table-border-colour);
  --table-border-radius: var(--border-radius);
  --table-caption-bg: var(--bg-surface);
  --thead-bg: var(--bg-surface);
  --tbody-bg: var(--bg-bottom);
  --tr-second-bg: var(--bg-surface);
  --tfoot-bg: var(--bg-surface);
  width: 100%;
  border-collapse: separate;
  border-spacing: 0;
  color: var(--table-font-colour);
  border: var(--table-border);
  border-radius: var(--table-border-radius);
  overflow: hidden
}

table.primary {
  --table-font-colour: color-mix(in srgb, var(--primary), black 60%);
  --table-border-colour: color-mix(in srgb, var(--primary), black 60%);
  --table-caption-bg: var(--bg-surface);
  --thead-bg: var(--primary);
  --tbody-bg: color-mix(in srgb, var(--primary), white 60%);
  --tr-second-bg: var(--primary);
  --tfoot-bg: var(--bg-surface)
}

table thead {
  background-color: var(--thead-bg)
}

table th, table td {
  padding: .5rem 1rem
}

table tbody {
  background-color: var(--tbody-bg)
}

table tbody tr:nth-of-type(2n) {
  background-color: var(--tr-second-bg)
}

table tfoot tr td {
  background-color: var(--tfoot-bg)
}

@media(max-width:576px) {
  table {
    --table-border-radius: none
  }

  table thead {
    display: none
  }

  table tbody td, table tfoot td {
    display: grid;
    align-items: center;
    grid-template-columns: 1fr 1fr
  }

  table tbody td:first-child {
    margin-top: .5rem
  }

  table tbody td:last-child {
    margin-bottom: .5rem
  }

  table tbody td:before {
    content: attr(data-cell);
    font-weight: 700;
    text-transform: uppercase
  }

  table tbody td:first-child:before {
    content: attr(data-cell);
    text-transform: uppercase
  }

  table tfoot tr {
    display: grid;
    grid-template-columns: 1fr 1fr
  }

  table tfoot tr td:first-child {
    text-transform: uppercase;
    text-align: left;
    width: 15ch
  }
}

.navbar {
  --nav-gap: 10px;
  --nav-btn-colour: var(--primary, hsl(212, 86%, 59%));
  --nav-font-colour: var(--text, hsl(0 0% 10%));
  --nav-font-dark-colour: var(--dark, hsl(0 0% 10%));
  --nav-dropdown-border: 1px solid var(--border-colour, hsl(0 0% 70%));
  --shadow: 3px 3px 5px 2px hsla(0 0% 0% / .3), inset -1px -1px 2px 2px color-mix(in hsl, var(--primary) 60%, black);
  --shadow-hover: -1px -1px 3px 1px hsla(0 0% 0% / .3), inset 1px 1px 2px 2px color-mix(in hsl, var(--primary) 60%, black);
  --shadow-pressed: -1px -1px 3px 1px hsla(0 0% 0% / .3), inset 1px 1px 2px 2px color-mix(in hsl, var(--primary) 60%, black);
  --logo-font-size: 1.75rem;
  --nav-line-height: var(--line-height-text, 1.6);
  --nav-icon-width: var(--text-md, 1rem);
  --nav-icon-height: var(--text-md, 1rem);
  --nav-btn-bg: none;
  --nav-btn-border: none;
  --nav-btn-shadow: none;
  --nav-border-radius: var(--border-radius, .5rem)
}

.navbar-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
  padding: .5rem .8rem
}

@media(min-width:576px) {
  .navbar-container {
    max-width: 540px
  }
}

@media(min-width:768px) {
  .navbar-container {
    max-width: 720px
  }
}

@media(min-width:992px) {
  .navbar-container {
    max-width: 960px
  }
}

@media(min-width:1200px) {
  .navbar-container {
    max-width: 1140px
  }
}

@media(min-width:1400px) {
  .navbar-container {
    max-width: 1320px
  }
}

.navbar-brand {
  display: flex;
  align-items: center;
  font-weight: 600;
  font-size: var(--logo-font-size);
  color: var(--text)
}

.logo {
  display: block;
  margin-right: 10px;
  width: var(--logo-font-size);
  height: var(--logo-font-size);
  fill: none;
  stroke: currentColor;
  stroke-width: 2;
  stroke-linecap: round;
  stroke-linejoin: round
}

.navbar-links {
  display: none;
  gap: var(--nav-gap);
  width: 100%;
  order: 3
}

.navbar-links.show {
  display: grid;
  grid-template-columns: 1fr;
  margin-top: var(--nav-gap)
}

.navbar-actions {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: var(--nav-gap)
}

.nav-btn {
  border: var(--nav-btn-border);
  border-radius: var(--nav-border-radius);
  background: var(--nav-btn-bg);
  box-shadow: var(--nav-btn-shadow);
  line-height: var(--nav-line-height);
  font-size: inherit;
  font-weight: 600;
  color: var(--nav-font-colour);
  width: 100%;
  padding: .35em 1em;
  display: flex;
  align-items: center;
  justify-content: start;
  cursor: pointer;
  transition: all .25s
}

.nav-icon {
  display: block;
  width: var(--nav-icon-width);
  height: var(--nav-icon-height);
  margin-right: var(--nav-gap);
  fill: none;
  stroke: currentColor;
  stroke-width: 3;
  stroke-linecap: round;
  stroke-linejoin: round
}

.nav-btn:hover {
  --nav-btn-bg: var(--nav-btn-colour);
  --nav-font-colour: var(--dark);
  --nav-btn-shadow: var(--shadow);
  color: var(--dark);
  filter: brightness(1.1)
}

.nav-btn.active {
  --nav-btn-bg: var(--nav-btn-colour);
  --nav-btn-shadow: var(--shadow-hover);
  --nav-font-colour: var(--nav-font-dark-colour);
  filter: brightness(.9)
}

.nav-btn.active:hover {
  --nav-btn-bg: var(--nav-btn-colour);
  --nav-btn-shadow: var(--shadow);
  --nav-font-colour: var(--nav-font-dark-colour);
  filter: brightness(1.1)
}

.nav-btn.active:active, .nav-btn:hover:active {
  --nav-btn-bg: var(--nav-btn-colour);
  --nav-btn-shadow: var(--shadow-hover);
  --nav-font-colour: var(--nav-font-dark-colour);
  filter: brightness(.9)
}

.nav-btn:focus-visible {
  outline: 2px solid color-mix(in srgb, var(--primary), black 60%);
  border: none
}

#theme-toggle, #nav-toggle {
  min-width: 100px
}

.navbar .dropdown-container {
  display: grid;
  gap: var(--nav-gap)
}

.navbar [data-dropdown-btn]:not([data-dropdown-btn=nav-menu]) {
  display: none
}

.navbar .dropdown {
  background: none;
  position: static;
  opacity: 1;
  width: 100%;
  border: none;
  padding: 0;
  box-shadow: none;
  display: grid;
  grid-template-columns: 1fr;
  gap: var(--nav-gap)
}

.xlg-only {
  display: none
}

@media(min-width:768px) {
  .nav-btn {
    justify-content: center
  }

  .navbar-links.show {
    display: flex;
    margin-top: var(--nav-gap)
  }

  .navbar .dropdown-container {
    anchor-scope: --dropdown-container
  }

  .navbar [data-dropdown-btn]:not([data-dropdown-btn=nav-menu]) {
    display: flex;
    anchor-name: --dropdown-container
  }

  .navbar .dropdown {
    border-radius: var(--nav-border-radius);
    border: var(--nav-dropdown-border);
    background: var(--bg-surface);
    position: absolute;
    position-anchor: --dropdown-container;
    inset: auto;
    top: calc(anchor(bottom) + 5px);
    justify-self: anchor-center;
    width: max-content;
    padding: var(--nav-gap);
    display: none;
    gap: var(--nav-gap);
    opacity: 0;
    transition: display .5s, opacity .5s;
    transition-behavior: allow-discrete
  }

  .navbar .dropdown .nav-btn {
    justify-content: start
  }

  .navbar .dropdown.show {
    display: grid;
    opacity: 1
  }

  @starting-style {
    .navbar .dropdown.show {
      opacity: 0
    }
  }
}

@media(min-width:992px) {
  .navbar-container {
    flex-wrap: nowrap
  }

  .navbar-links {
    display: flex;
    order: 0;
    width: auto
  }

  .navbar-links.show {
    margin-top: 0;
    width: auto
  }

  .mobile-only {
    display: none
  }
}

.btn {
  --shadow-inset-colour: hsl(0 0% 10% / .3);
  --shadow-mix: white;
  border: none;
  background: var(--light);
  color: var(--dark);
  padding: .5em 1em;
  font-size: var(--text-md);
  font-weight: 600;
  cursor: pointer;
  border-radius: var(--border-radius);
  transition: all .3s;
  box-shadow: 2px 2px 4px 1px #1a1a1a33, inset -2px -2px 2px 1px #1a1a1a33
}

.btn:hover {
  box-shadow: -2px -2px 4px 1px #0003, inset 2px 2px 1px 1px #0003
}

.btn:active {
  transform: scale(.98);
  transition: transform .1s
}

.btn.green {
  --shadow-inset-colour: var(--green);
  --shadow-mix: black;
  background-color: var(--green);
  color: color-mix(in srgb, var(--green), black 60%);
  box-shadow: 3px 3px 8px 2px #0003, inset -1px -1px 2px 2px color-mix(in hsl, var(--shadow-inset-colour) 70%, var(--shadow-mix))
}

.btn.green:hover {
  filter: brightness(.9);
  box-shadow: -1px -1px 3px 1px #0003, inset 1px 1px 2px 2px color-mix(in hsl, var(--shadow-inset-colour) 70%, var(--shadow-mix))
}

.btn.yellow {
  --shadow-inset-colour: var(--yellow);
  --shadow-mix: black;
  background-color: var(--yellow);
  color: color-mix(in srgb, var(--yellow), black 60%);
  box-shadow: 3px 3px 8px 2px #0003, inset -1px -1px 2px 2px color-mix(in hsl, var(--shadow-inset-colour) 70%, var(--shadow-mix))
}

.btn.yellow:hover {
  filter: brightness(.9);
  box-shadow: -1px -1px 3px 1px #0003, inset 1px 1px 2px 2px color-mix(in hsl, var(--shadow-inset-colour) 70%, var(--shadow-mix))
}

.card {
  background-color: var(--bg-surface);
  border-radius: var(--border-radius)
}

.card-header h2, .card-header h3 {
  margin: 0
}

.card-header {
  padding: .5rem .8rem;
  background-color: var(--bg-surface);
  border-top-left-radius: calc(var(--border-radius) - 1px);
  border-top-right-radius: calc(var(--border-radius) - 1px)
}

.card-body {
  padding: .5rem .8rem
}

.card-footer {
  padding: .5rem .8rem;
  border-bottom-left-radius: calc(var(--border-radius) - 2px);
  border-bottom-right-radius: calc(var(--border-radius) - 2px);
  background-color: color-mix(in srgb, var(--light), var(--dark) 2%);
  display: flex;
  justify-content: flex-end;
  gap: 10px
}

.card-header.primary {
  background-color: var(--primary)
}

.card-header.primary h2, .card-header.primary h3 {
  color: color-mix(in srgb, var(--primary), black 60%)
}

.card-header.secondary {
  background-color: var(--secondary);
  border-color: color-mix(in srgb, var(--secondary), black 60%)
}

.card-header.secondary h2, .card-header.secondary h3 {
  color: color-mix(in srgb, var(--secondary), black 60%)
}

label {
  display: block;
  margin: 0 0 .5rem;
  color: var(--text);
  font-weight: 600;
  font-size: inherit
}

input, select, textarea {
  width: 100%;
  margin: 0 0 .5rem;
  padding: .5rem 1rem;
  font-size: inherit;
  border-radius: var(--border-radius);
  background-color: var(--bg-surface);
  color: var(--text-muted);
  font-family: inherit;
  border: none;
  box-shadow: var(--input-shadow)
}

input[type=date]::-webkit-datetime-edit-text, input[type=date]::-webkit-datetime-edit-month-field, input[type=date]::-webkit-datetime-edit-day-field, input[type=date]::-webkit-datetime-edit-year-field {
  color: var(--text-muted)
}

input[type=date] {
  appearance: none;
  padding-right: 2.5rem;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24' fill='none' stroke='%23666' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'%3E%3Cpath d='M11 14h1v4'/%3E%3Cpath d='M16 2v4'/%3E%3Cpath d='M3 10h18'/%3E%3Cpath d='M8 2v4'/%3E%3Crect x='3' y='4' width='18' height='18' rx='2'/%3E%3C/svg%3E");
  background-repeat: no-repeat;
  background-position: right .5rem center
}

input[type=date]::-webkit-calendar-picker-indicator {
  opacity: 0;
  cursor: pointer;
  width: 24px;
  height: 24px;
  position: absolute;
  right: .75rem
}

input:focus, select:focus, textarea:focus {
  outline: none;
  border-color: var(--primary);
  background-color: var(--bg-surface)
}

input::placeholder {
  color: var(--text);
  opacity: .7
}

textarea {
  resize: vertical;
  min-height: 100px
}

select {
  cursor: pointer;
  appearance: none;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24' fill='none' stroke='%23666' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'%3E%3Cpath d='m6 9 6 6 6-6'/%3E%3C/svg%3E");
  background-repeat: no-repeat;
  background-position: right .5rem center;
  padding-right: 2.5rem
}

input:disabled, select:disabled, textarea:disabled {
  background-color: var(--bg-surface);
  color: var(--text);
  cursor: not-allowed;
  opacity: .6
}

input:user-invalid, select:user-invalid {
  border-color: var(--red);
  outline-color: none
}

input:user-valid {
  border-color: var(--green)
}

.input-helper {
  margin-bottom: .5rem;
  font-size: .875rem;
  color: var(--text-muted);
  line-height: 1.4
}

.invalid-feedback {
  display: block;
  margin-top: .5rem;
  font-size: .875rem;
  color: var(--danger)
}

.valid-feedback {
  display: block;
  margin-top: .5rem;
  font-size: .875rem;
  color: var(--green)
}

.info-box {
  --box-bg-colour: var(--dark);
  --box-boder-colour: var(--dark);
  --box-border-width: 2px;
  border: var(--box-border-width) solid var(--box-boder-colour);
  background-color: var(--box-bg-colour);
  border-radius: var(--border-radius);
  overflow: hidden
}

.info-box-header {
  border-bottom: var(--box-border-width) solid var(--box-boder-colour);
  background-color: var(--box-bg-colour);
  color: var(--light);
  padding: .25rem 1rem;
  font-weight: 700
}

.info-box-body {
  background-color: var(--bg-bottom);
  color: var(--text);
  padding: .25rem 1rem
}

.info-box.red {
  --box-bg-colour: var(--red);
  --box-boder-colour: color-mix(in srgb, var(--red), black 60%)
}

.info-box.red .info-box-header {
  color: color-mix(in srgb, var(--red), black 60%)
}

.info-box.blue {
  --box-bg-colour: var(--blue)
}

.info-box.blue .info-box-header {
  color: color-mix(in srgb, var(--blue), black 60%)
}

.dropdown-container {
  --gap: 10px;
  --dropdown-border: 1px solid black;
  anchor-scope: --dropdown-container
}

[data-dropdown-btn] {
  anchor-name: --dropdown-container
}

.dropdown {
  border-radius: var(--border-radius);
  border: none;
  box-shadow: var(--shadow);
  background: var(--bg-surface);
  position: absolute;
  position-anchor: --dropdown-container;
  inset: auto;
  top: anchor(bottom);
  justify-self: anchor-center;
  width: max-content;
  padding: var(--gap);
  display: none;
  gap: var(--gap);
  opacity: 0;
  transition: display .5s, opacity .5s;
  transition-behavior: allow-discrete
}

.dropdown.show {
  display: grid;
  opacity: 1
}

@starting-style {
  .dropdown.show {
    opacity: 0
  }
}